.Text_size_s {
  font-size: var(--size-text-s);
}

.Text_size_xs {
  font-size: var(--size-text-xs);
}

.Text_weight_bold {
  font-weight: var(--font-weight-text-bold);
}

.Text_view_success {
  color: var(--color-typo-success);
}

.Text_view_alert {
  color: var(--color-typo-alert);
}

.Text_weight_bold {
  font-weight: bold;
}